@use "../abstracts/" as *;

.language-selector {
    position: relative;

    button {
        align-items: center;
        background-color: transparent;
        border: 0;
        color: $color-neutral-100;
        display: flex;
        font-size: .875rem;
        gap: .5rem;

        .language-icon {
            object-fit: contain;
            width: 1.5rem;
        }
    }

    .language-list {
        background-color: $color-neutral-900;
        left: -2rem;
        opacity: 0;
        padding: .2rem 2rem;
        padding-bottom: 1rem;
        position: absolute;
        top: 200%;
        transition: opacity .2s ease-in-out, visibility .1s ease-in-out;
        visibility: hidden;
        width: max-content;
        
        & * + * {
            margin-top: .25rem;
        }

        &.open {
            opacity: 1;
            visibility: visible;
        }
    }
}