@use "../abstracts" as *;


.primary-header {
    background: $color-background-default;
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.01),
        0 12px 28px rgba(0, 0, 0, 0.02);
    left: 0;
    padding: 1rem 4rem;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.primary-nav {
    gap: 2rem;
    list-style: none;

    li a {
        color: $color-neutral-800;
        font-weight: 700;
        text-decoration: none;
    }


}
