@use "../abstracts" as *;

.player-slider {
    margin-right: 0 !important;
    user-select: none;

    .player-slide {
        aspect-ratio: 1 / 1;

        @media (min-width: 600px) {
            width: min-content !important;
        }
    }
}

.swiper-pagination-bullet {
    background: $color-primary-400 !important;
}