@use "../abstracts" as *;



.blog {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: space-around;
    position: relative;

    .overlay {
        background-color: $color-neutral-900;
        height: 100vh;
        position: absolute;
        width: 100vw
    }
}